# =============== #
# Unity generated #
# =============== #
Game403GroupProject/Temp/
Game403GroupProject/Library/

# Visual Studio 2015 cache directory
Game403GroupProject/.vs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Game403GroupProject/ExportedObj/
Game403GroupProject/obj/
Game403GroupProject/*.svd
Game403GroupProject/*.userprefs
Game403GroupProject/*.csproj
Game403GroupProject/*.pidb
Game403GroupProject/*.suo
Game403GroupProject/*.sln
Game403GroupProject/*.user
Game403GroupProject/*.unityproj
Game403GroupProject/*.booproj

# ============ #
# OS generated #
# ============ #
Game403GroupProject/.DS_Store
Game403GroupProject/.DS_Store?
Game403GroupProject/._*
Game403GroupProject/.Spotlight-V100
Game403GroupProject/.Trashes
Game403GroupProject/ehthumbs.db
Game403GroupProject/Thumbs.db
Game403GroupProject/Assets/Thumbs.db
Game403GroupProject/Assets/Textures/Thumbs.db
Game403GroupProject/Builds/
